{% extends "base.html" %}

{% block title %}Заявка на добавление юнги одобрена!{% endblock %}

{% block content %}
    <h1 class="greeting">Здравствуйте, {% if full_name %}{{ full_name }}{% else %}Уважаемый пользователь{% endif %}!</h1>
    <div class="message">
        <p>Рады сообщить, что ваша заявка на добавление юнги <b>{{ sailor_fullname }}</b> была одобрена!</p>
        <p>Теперь информация о юнге доступна на нашем ресурсе.</p>
        <p>Чтобы посмотреть добавленную информацию перейдите по ссылке:
            <a href="http://localhost:5000/biography/{{ biography_id }}">Перейти к добавленной информации</a>
        </p>
        <p class="support-note">Если возникнут вопросы, можете связаться с нами через список контактов внизу письма</p>
    </div>
{% endblock %}