{% extends "base.html" %}

{% block title %}Спасибо за обратную связь!{% endblock %}

{% block content %}
    <h1 class="greeting">Здравствуйте, {% if receiver_fullname %}{{ receiver_fullname }}{% else %}Уважаемый пользователь{% endif %}!</h1>
    <div class="message">
        <p>Благодарим за обратную связь о нашем ресурсе! Ваше мнение очень важно для нас и помогает нам становиться лучше.</p>
        <p>Мы рассмотрим ваше сообщение в ближайшее время и при необходимости свяжемся с вами.</p>
        <p>Если у вас возникли срочные вопросы, вы всегда можете связаться с нами по телефону или электронной почте, указанным в подвале этого письма.</p>
    </div>
{% endblock %}